@font-face {
    font-family: 'MyanmarAngoun';
    src: url('/fonts/KhmerType/MyanmarAngoun.ttf');
}

@font-face {
    font-family: 'MyanmarChatu';
    src: url('/fonts/KhmerType/MyanmarChatu.ttf');
}

@font-face {
    font-family: 'MasterpieceTawWin';
    src: url('/fonts/masterpiece/MasterpieceTawWin.ttf');
}

@font-face {
    font-family: 'Pyidaungsu';
    src: url('/fonts/mm/Pyidaungsu.eot');
    src: url('/fonts/mm/Pyidaungsu.eot?#iefix') format('embedded-opentype'),
        url('/fonts/mm/Pyidaungsu.woff2') format('woff2'),
        url('/fonts/mm/Pyidaungsu.woff') format('woff'),
        url('/fonts/mm/Pyidaungsu.ttf') format('truetype'),
        url('/fonts/mm/Pyidaungsu.svg#Pyidaungsu') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MyanmarHeadOne';
    src: url('/fonts/unknown/MyanmarHeadOne.ttf');
}

@font-face {
    font-family: 'Myanmar Square';
    src: url('MyanmarSquare.eot');
    src: url('/fonts/mm/MyanmarSquare.eot?#iefix') format('embedded-opentype'),
        url('/fonts/mm/MyanmarSquare.woff2') format('woff2'),
        url('/fonts/mm/MyanmarSquare.woff') format('woff'),
        url('/fonts/mm/MyanmarSquare.ttf') format('truetype'),
        url('/fonts/mm/MyanmarSquare.svg#MyanmarSquare') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YoeYar-One';
    src: url('/fonts/unknown/YoeYar-One.ttf');
}
