@font-face {
    font-family: 'MyanmarAngoun';
    src: url('/fonts/KhmerType/MyanmarAngoun.ttf');
}

@font-face {
    font-family: 'MyanmarChatu';
    src: url('/fonts/KhmerType/MyanmarChatu.ttf');
}

@font-face {
    font-family: 'MasterpieceTawWin';
    src: url('/fonts/masterpiece/MasterpieceTawWin.ttf');
}

@font-face {
    font-family: 'Pyidaungsu';
    src: url('/fonts/other/Pyidaungsu.ttf');
}

@font-face {
    font-family: 'MyanmarHeadOne';
    src: url('/fonts/unknown/MyanmarHeadOne.ttf');
}

@font-face {
    font-family: 'MyanmarSquare';
    src: url('/fonts/unknown/MyanmarSquare.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'YoeYar-One';
    src: url('/fonts/unknown/YoeYar-One.ttf');
}
